@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');

*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	outline: none;
	list-style: none;
	text-decoration: none;
}

html, body{
  height: 100%;
}

.loading {
	z-index: 1;
    width: 100%;
    height: 100%;
    background-image: url("img/loading.svg");
    background-color: white;
    background-position: center;
    background-size: 47px;
    background-repeat: no-repeat;
    position: fixed;
    animation-name: example;
    animation-duration: 0s;  
    animation-delay: 1.5s;
    animation-fill-mode: both;
  }
  
  @keyframes example {
    from {width: 100%;}
    to {width: 0%;}
  }

.top-bar{
  position: relative;
	height: 44px;
  border: 1px solid #dbdbdb;
}

.top-bar-logo{
  padding: 8px 0 0 15px;
}

.top-bar-right{
  -webkit-box-align: center;
  width: 136.4px;
	height: 44px;
	position: absolute;
	top: 0;
	right: 0;
  margin-right: 15px;
  line-height: 44px;
  text-align: center;
  display: flex;
}

.top-bar-right .top-bar-login{
  margin-left: 10px;
  width: 42px;
  height: 18px;
  color: #0095f6;
  font-size: 14px;
  font-weight: 600;
  font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,Helvetica,Arial,sans-serif;
}

.top-bar-right .open-app a:link{
  text-decoration: none;
  color: white;
}

.top-bar-right .open-app a:visited{
  color: white;
}

.top-bar-right .open-app{
  cursor: pointer;
  font-size: 14px;
  font-weight: 600;
  font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,Helvetica,Arial,sans-serif;
  margin: 7.5px 0 0 10px;
  height: 29px;
  width: 74.3px;
	background-color: #3897f0;
  border: 1px solid #3897f0;
  border-radius: 4px;
  text-align: center;
  padding: 5px;
}

.wrapper{
  margin-top: 48px;
  width: 100%;
  height: 50%;
}

.title{
  width: 100%;
  height: 60px;
  padding: 32px 32px 0 32px;
  line-height: 20px;
  text-align: center;
}

.title .create-a-password{
  font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,Helvetica,Arial,sans-serif;
  margin-bottom: 8px;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.3;
  text-align: center;
  color: rgb(38, 38, 38);
}

.description{
  padding: 0 53px 26px 53px;
  font-size: 14px;
  line-height: 1.3;
  text-align: center;
  color: rgb(142, 142, 142);
  font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,Helvetica,Arial,sans-serif;

}

.form{
  margin-top: 16px;
  margin-bottom: 20px;
  padding: 0 53px 24px 53px;
  height: 146px;
}

.input-wrapper{
  border-radius: 4px;
  border: 1px solid rgb(219, 219, 219);
  background: rgb(250, 250, 250) none repeat scroll 0% 0%;
  width: 100%;
  height: 48px;
  line-height: 48px;
  text-align: center;
  overflow: hidden;
}

.input-password{
  margin-left: 5px;
  font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,Helvetica,Arial,sans-serif;
  color: rgb(38, 38, 38);
  font-size: 13px;
  line-height: 1.3;
  width: 100%;
  border: medium none;
  background: transparent none repeat scroll 0% 0%;
}

.reset-button{
  font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,Helvetica,Arial,sans-serif;
  width: 171.7px;
  margin-left: 53px;
  height: 44.2px;
  line-height: 44.2px;
  text-align: center;
  cursor: pointer;
  background-color: #b2dffc;
  border: 1px solid #b2dffc;
  border-radius: 4px;
  color: rgb(255, 255, 255);
  font-weight: 700;
  display: inline;
  font-size: 14px;
}
